/*Universal Styles*/

html, body{
    height:100%;
}

body{
    font-family: Montserrat, sans-serif;
    font-size:1em;
    margin:0 auto;
    width:100%;
}

a{
    text-decoration: none;
}

h1{
    font-size:2.5em;
    color:#231F20;
}

/*Targetted Styles*/

.banner{
    background-image:url("floral-banner-1224.png");
    background-repeat: no-repeat;
}

.banner p{
    background-color: #C5CC2E;
    width:20%;
    text-align: center;
    color:white;
    font-size:1.2em;
    padding:0% 2%;
    margin-top:1%;
    margin-left:60%;
    float:left;
}

.banner ul{
    margin-top:1%;
}

.banner ul li{
    display:inline;
    margin-left:3%;
}

.banner ul li a{
    text-decoration: none;
    color:#231F20;
    font-size:1.2em;
}

.banner-960{
    display: none;
}

.search-960{
    display:none;
}

.logo-960{
    display: none;
}

.bottom-bar-960{
    display:none;
}
.bottom-bar{
    display:none;
}

.logo{
    margin-top:-4.3%;
    margin-left:2%;
}

.search{
    background-color: #E6E7E8;
    height:35px;
    margin-top:.8%;
    margin-left:5%;
}

.search p{
    font-size:1.2em;
    margin-top:3%;
    margin-left:5%;
    color:#231F20;
}

.search p i{
    margin-right:5%;
}

.nav{
    margin-left:0%;
    margin-right:0%;
    margin-top:2.5%;
}

.nav ul li{
    display:inline;
    margin-right:7%;
    font-size:1.2em;
}

.nav ul li a{
    color:#231F20;
    text-decoration: none;
}

.header{
    margin-top:5%;
    margin-bottom:10%;
}

.color-block{
    background-color: #C5CC2E;
    margin-bottom:10%;
}

.color-block h1{
    padding-top:2%;
    color:white;
}

.color-block p{
    width:65%;
    margin:0 auto;
    margin-bottom:2%;
    font-size:1.2em;
    color:white;
}

.product-1{
    background-image:url("todd-product-01.png");
    height:203px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left:0%;
}

.product-2{
    background-image:url("peach-product-01.png");
    height:203px;
    background-repeat: no-repeat;
    background-position: center;
}

.product-3{
    background-image:url("blush-product-01.png");
    height:203px;
    background-repeat: no-repeat;
    background-position: center;
}

.product-4{
    background-image:url("rose-product-01.png");
    height:203px;
    background-repeat: no-repeat;
    background-position: center;
}

.shop-button{
    height:20px;
    background-color: #C5CC2E;
    width:120px;
    margin:0 auto;
    margin-bottom:25%;
}

a .shop-button{
    color:white;
}

a:hover .shop-button{
    background-color: white;
    color:#C5CC2E;
}

.shop-button p{
    margin:10px 10px 10px 15px;
    font-size:1.2em;
}

.claims{
    background-color: #231F20;
    padding-top:.5%;
    margin-bottom:10%;
}

.claims ul li{
    display:inline;
}

.claims ul li a{
    color:white;
    text-decoration: none;
    font-size:2.5em;
    margin-left:10%;
}

li.insta{
    background-repeat: no-repeat;
    height:203px;
    width:203px;
    float:left;
    margin-left:1%;
    list-style: none;
}

li.girl-1{
    background-image: url(insta-1-01.png);
}

li.girl-2{
    background-image: url(insta-2-01.png);
}

li.girl-3{
    background-image: url(insta-3-01.png);
}

li.girl-4{
    background-image: url(insta-4-01.png);
}

li.girl-5{
    background-image: url(insta-5-01.png);
}

.girls a li{
    color:white;
    padding-top:12%;
    padding-left:1%
}

ul a li.arrow{
    width:30px;
    color: #231F20 !important; 
    padding-top:0% !important;
    font-size:2.5em;
    background-color:#C5CC2E;
}

.social ul li{
    display:inline;
    font-size:3em;
}

ul li i{
    margin-right:2%;
    color:#C5CC2E;
}

.footer ul li{
    display:inline;
}

.footer ul li a{
    color: #231F20;
    text-decoration: none;
    margin-left:5%;
    font-size:1.2em;
}

.footer-bar{
    background-color: #231F20;
    color:white;
    padding-top:1%;
}

@media (max-width: 960px) {
    .banner, .logo, .search, .nav{
        display:none;
    }
    
    .banner-960, .logo-960, .search-960{
        display: inherit;
        position:fixed;
    }
    
    .banner-960{
        background-color: white;
    }
    
    .banner-960 p{
        width:300px;
        background-color:#C5CC2E;
        color:white;
        padding-top:.2%;
        padding-bottom:.2%;
        font-size:1.2em
        top:0px;
        left:0px;
    }
    
    .search-960 p{
        background-color: #E6E7E8;
        font-size:1.2em;
        padding:.4% 2%;
        margin-left:70%;
        color:#231F20;
    }

    .search-960 p i{
        margin-right:3%;
    }
    
    .logo-960{
        clear: both;
        background-color: white;
        top:3.4%;
        padding-bottom:2%
    }
    .bottom-bar-960{
        display:inherit;
        z-index:99;
        position:absolute;
        left:0;
        right:0;
        bottom:0;
    }
    .bottom-bar-960 .bottom-bar ul{
        background-image:url(floral-banner-1224.png);
        background-color: white;
        height:60px;
    }
    .bottom-bar-960 .bottom-bar ul li{
        display: inline;
        margin-left:5%;
        font-size:1.2em;
    }
    .bottom-bar-960 .bottom-bar ul li a{
        color: #231F20;
    }
    .bottom-bar-960 .bottom-bar ul li.login-space{
        margin-left:20%;
    }
}